<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="enhancer" class="org.springframework.cglib.proxy.Enhancer">
    </bean>
    <bean id="jedisUtil" class="com.semion.web.action.JedisUtil">
    </bean>


    <bean name="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="15"/>
        <property name="maxPoolSize" value="20"/>
        <property name="queueCapacity" value="100"/>
    </bean>

    <!--自定义任务-->
    <bean id="helloTask" class="com.semion.web.action.quartz.HelloTask"></bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="1" />
        <property name="maxTotal" value="5" />
        <property name="blockWhenExhausted" value="true" />
        <property name="maxWaitMillis" value="30000" />
        <property name="testOnBorrow" value="true" />
    </bean>

    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:use-pool="ture" p:hostName="127.0.0.1" p:port="6379" p:poolConfig="jedisPoolConfig">
    </bean>

    <!--redis模板定义-->
    <bean id="=redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connectionFactory-ref="jedisConnectionFactory"/>




</beans>