<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="enhancer" class="org.springframework.cglib.proxy.Enhancer">
    </bean>
    <bean id="jedisUtil" class="com.semion.web.action.JedisUtil">
    </bean>


    <bean name="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="15"/>
        <property name="maxPoolSize" value="20"/>
        <property name="queueCapacity" value="100"/>
    </bean>

    <!--自定义任务-->
    <bean id="helloTask" class="com.semion.web.action.quartz.HelloTask"></bean>




</beans>